<app-header-home />
  
<main ngClass="py-2">
  <div ngClass="container">
    <div ngClass="row">
      <div ngClass="col-sm-12 col-md-7 py-5">
          <h1 ngClass="jumbotron-title">Belanja kebutuhan dapur menjadi mudah dan cepat</h1>
          <p ngClass="jumbotron-paragraph">Vegemart akan membantu kamu dalam memenuhi kebutuhan dapur dengan mudah tanpa repot-repor ke pasar</p>
          <button ngClass="btn btn-shopping">Ayo Belanja</button>
      </div>
      <div ngClass="col-sm-12 col-md-5 py-3 m-auto">
          <img [src]="jumbotron" ngClass="mx-auto">
      </div>
    </div>
  </div>

  <div ngClass="bg-green-black mt-2">
      <div ngClass="container py-5">
          <h1 ngClass="text-center text-white font-weight-bold">Spesial Diskon 10% Bulan Ini</h1>
          <div ngClass="row my-5">
             <div ngClass="col-sm-10 col-md-4 my-3">
                <div class="card">
                  <img class="card-img-top" [src]="image1" alt="Card image cap">
                  <div class="card-body">
                    <h6 class="card-title">Bayam Hijau</h6>
                    <h4 ngClass="product-text">Rp2.000</h4>
                  </div>
                </div>
             </div>
             <div ngClass="col-sm-10 col-md-4 my-3">
               <div class="card">
                <img class="card-img-top" [src]="image2" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">Bawang Merah</h6>
                  <h4 ngClass="product-text">Rp1.000</h4>
                </div>
              </div>
             </div>
             <div ngClass="col-sm-10 col-md-4 my-3">
               <div class="card">
                <img class="card-img-top" [src]="image3" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">Kangkung Cino</h6>
                  <h4 class="product-text">Rp2.000</h4>
                </div>
              </div>
             </div>
          </div>
      </div>
  </div>

  <div ngClass="container">
     <div ngClass="row py-5">
        <div ngClass="col-sm-12 col-md-7">
           <h1 ngClass="section-title mt-5">Berbagai produk dapur tersedia lengkap</h1>
           <p ngClass="jumbotron-paragraph my-4">Vegemart menyediakan berbagai macam produk yang memenuhi kebutuhan dapur dan tersedia secara lengkap </p>
        </div>
        <div ngClass="col-sm-12 col-md-5">
          <div id="carouselExampleIndicators" ngClass="carousel slide" data-ride="carousel">
            <ol ngClass="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" ngClass="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div ngClass="carousel-inner">
              <div ngClass="carousel-item active">
                <img ngClass="d-block w-100" [src]="image1" alt="First slide">
              </div>
              <div ngClass="carousel-item">
                <img ngClass="d-block w-100" [src]="image2" alt="Second slide">
              </div>
              <div ngClass="carousel-item">
                <img ngClass="d-block w-100" [src]="image3" alt="Third slide">
              </div>
            </div>
            <a ngClass="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span ngClass="carousel-control-prev-icon" aria-hidden="true"></span>
              <span ngClass="sr-only">Previous</span>
            </a>
            <a ngClass="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span ngClass="carousel-control-next-icon" aria-hidden="true"></span>
              <span ngClass="sr-only">Next</span>
            </a>
          </div>
        </div>
     </div>
  </div>

  <div ngClass="container">
    <h1 ngClass="text-center font-weight-bold">Apa Kata Mereka <br>tentang <span ngClass="text-green-black">Vegemart?</span></h1>
    <div id="carouselExampleControls" ngClass="carousel slide" data-ride="carousel">
      <div ngClass="carousel-inner text-center">
        <div ngClass="carousel-item testimonial active">
          <img ngClass="d-block img-profile" [src]="profile1" alt="First slide">
          <div ngClass="my-4">
            <h4>Bahrum Nisar</h4>
            <p>“Vegemart telah membantu ku dalam memenuhi kebutuhan dapurku setiap hari dan tak perlu repot ke pasar”</p>
          </div>
        </div>
        <div ngClass="carousel-item testimonial">
          <img ngClass="d-block img-profile" [src]="profile2" alt="Second slide">
          <div ngClass="my-4">
            <h4>Fitri Zakiyatus Sholihah</h4>
            <p>"Melalui aplikasi ini, aku bisa membeli bahan-bahan masak untuk memenuhi kebutuhan tiap hari sebagai mahasiswi yang sibuk kepanitian dan tugas kuliah yang menumpuk"</p>
          </div>
        </div>
        <div ngClass="carousel-item testimonial">
          <img ngClass="d-block img-profile" [src]="profile3" alt="Third slide">
          <div ngClass="my-4">
            <h4>Diana Ayu Sukma Putri</h4>
            <p>"Aku tak perlu keluar rumah untuk beli sayur, bumbu dan daging karena Vegemart telah memberiku banyak produk yang bagus dengan kualitas oke dan terjamin deh"</p>
          </div>
        </div>
      </div>
      <a ngClass="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="material-icons-outlined text-green-black">
          chevron_left
          </span>
        <span ngClass="sr-only">Previous</span>
      </a>
      <a ngClass="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="material-icons-outlined text-green-black">
          chevron_right
        </span>
        <span ngClass="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div ngClass="container">
     <h1 ngClass="text-center font-weight-bold">FAQ</h1>
     <div ngClass="my-5" id="accordion">
      <div ngClass="card">
        <div ngClass="card-header" id="headingOne">
          <h5 ngClass="mb-0">
            <a ngClass="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
               Jadi apa itu Vegemart
            </a>
          </h5>
        </div>    
        <div id="collapseOne" ngClass="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div ngClass="card-body">
            rfrfrf
          </div>
        </div>
      </div>
      <div ngClass="card">
        <div ngClass="card-header" id="headingTwo">
          <h5 ngClass="mb-0">
            <a ngClass="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Cara melakukan pembayarannya bagaimana?
            </a>
          </h5>
        </div>
        <div id="collapseTwo" ngClass="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div ngClass="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div ngClass="card">
        <div ngClass="card-header" id="headingThree">
          <h5 ngClass="mb-0">
            <a ngClass="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               Jasa Pengiriman produk apa saja?
            </a>
          </h5>
        </div>
        <div id="collapseThree" ngClass="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div ngClass="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div ngClass="card">
        <div ngClass="card-header" id="headingFour">
          <h5 ngClass="mb-0">
            <a ngClass="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
               Manfaat apa saja yang didapatkan ketika berbelanja vegemart?
            </a>
          </h5>
        </div>
        <div id="collapseFour" ngClass="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div ngClass="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div ngClass="card">
        <div ngClass="card-header" id="headingFive">
          <h5 ngClass="mb-0">
            <a ngClass="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
               Apakah bisa COD pembayarannya?
            </a>
          </h5>
        </div>
        <div id="collapseFive" ngClass="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div ngClass="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer-home/>

  