<footer ngClass="bg-green-black">
    <div ngClass="container py-5 text-white">
         <div ngClass="row">
             <div ngClass="col-sm-12 col-md-4">
                <img ngClass="w-50" [src]="logoWhite">
                <p ngClass="mt-3">Vegemart adalah situs jual beli kebutuhan dapur untuk memenuhi kebutuhan dapur dengan mudah</p>          
                <address>
                   Jl Bunga Kumis Kucing No35e Rt06 Rw02<br> 
                   Kelurahan Jatimulyo Kecamatan Lowokwaru<br> 
                   Kota Malang Jawa Timur, 65141
                </address>
             </div>
             <div ngClass="col-sm-12 col-md-4">
                <h3 ngClass="text-center my-3">Menu</h3>
                <div ngClass="row">
                   <div ngClass="col-5">
                      <ul ngClass="list-group">
                         <li>Home</li>
                         <li>About</li>
                         <li>Contact Us</li>
                         <li>Service</li>
                      </ul>
                   </div>
                   <div ngClass="col-7">
                     <ul ngClass="list-group">
                       <li>Privacy Policy</li>
                       <li>Endorstment</li>
                       <li>Term & Condition</li>
                       <li>Other</li>
                    </ul>
                   </div>
                </div>                    
             </div>
             <div ngClass="col-sm-12 col-md-4">
                <h3 ngClass="text-center my-3">Sponsor By</h3>
                <img ngClass="w-25" [src]="petani">
                <img ngClass="w-25" [src]="kompas">
                <img ngClass="w-50" [src]="efishery">
             </div>
         </div>
         <ul ngClass="text-center mx-auto">
            <a ngClass="mx-2"><i ngClass="fa-brands fa-square-facebook fa-xl"></i></a>
            <a ngClass="mx-2"><i ngClass="fa-brands fa-twitter fa-xl"></i></a>
            <a ngClass="mx-2"><i ngClass="fa-brands fa-instagram fa-xl"></i></a>
            <a ngClass="mx-2"><i ngClass="fa-brands fa-whatsapp fa-xl"></i></a>
         </ul>
    </div>
 </footer>