<header>
    <nav ngClass="container navbar navbar-expand-lg">
      <img [src]="logo" ngClass="navbar-brand">
      <button ngClass="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span ngClass="navbar-toggler-icon"></span>
      </button>
      <div ngClass="collapse navbar-collapse" id="navbarNav">
        <ul ngClass="navbar-nav ml-auto">
          <li ngClass="nav-item">
            <a ngClass="nav-link" href="#">tentang Kami</a>
          </li>
          <li ngClass="nav-item">
            <a ngClass="nav-link" href="#">spesial</a>
          </li>
          <li ngClass="nav-item">
            <a ngClass="nav-link" routerLink="/karir">karir</a>
          </li>
          <li ngClass="nav-item">
            <a ngClass="nav-link" routerLink="/sites">situs kami</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
    