/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

html, body {
    font-family: 'Lexend', sans-serif;
}

.bg-green-black {
    background-color: #3C5949;
}

.text-green-black {
    color:#3C5949;
}

.navbar-brand {
    width:14%;
}